body{
    background-color: black;
    color: white;
}
canvas{
    border: 1px solid black;
    display: block;
    margin: 0 auto;
    background-color: white; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#title{
    display: flex;
    justify-content: center;
    align-items: center;
}